[submodule "three.js"]
	path = three.js
	url = https://github.com/mrdoob/three.js/
	ignore = dirty
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery
	ignore = dirty
[submodule "nprogress"]
	path = nprogress
	url = https://github.com/rstacruz/nprogress/
[submodule "html5-boilerplate"]
	path = html5-boilerplate
	url = https://github.com/h5bp/html5-boilerplate
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "gyro.js"]
	path = gyro.js
	url = https://github.com/tomgco/gyro.js
